*.slo
*.lo
*.o
*.obj
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.swp
*.DS_Store
m4/*
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
missing
ltmain.sh
libtool
install-sh
.deps
.libs
Makefile
Makefile.in
src/sed/sed
src/find/find
src/xargs/xargs
src/m4/m4
src/patch/patch
src/pax/pax
src/sed/Makefile
src/find/Makefile
src/xargs/Makefile
src/m4/Makefile
src/m4/lib/Makefile
src/m4/parser*.c
src/m4/parser*.h
src/m4/tokernizer.c
src/patch/Makefile
src/pax/Makefile
ylwrap
